<div class="author">
    <h1 class="author__heading">Latest News</h1>
    <p class="author__body">Stay updated with the latest news from around the world</p>
</div>

<% if (data && data.length > 0) { %>
    <section class="articles">

        <ul class="article-ul">
            <% data.forEach(article => { %>
                <li>
                    <a href="<%= article.url %>" target="_blank" rel="noopener noreferrer">
                        <span>
                            <%= article.title %>
                            <% if (article.source && article.source.name) { %>
                                <small class="news-source">(<%= article.source.name %>)</small>
                            <% } %>
                        </span>
                        <span class="article-list__date"><%= new Date(article.publishedAt).toDateString() %></span>
                    </a>
                </li>
            <% }) %>
        </ul>

        <% if (nextPage !== null) { %>
            <a href="/news?page=<%= nextPage %>" class="pagination">&lt; View More News</a>
        <% } %>

    </section>
<% } else { %>
    <div class="no-articles">
        <p>No news articles available at the moment. Please try again later.</p>
    </div>
<% } %>
